:root{
--magic-color-primary-1:#fff0f6; 
--magic-color-primary-2:#ffd6e7; 
--magic-color-primary-3:#ffadd2; 
--magic-color-primary-4:#ff85c0; 
--magic-color-primary-5:#f759ab; 
--magic-color-primary-6:#eb2f96; 
--magic-color-primary-7:#c41d7f; 
--magic-color-primary-8:#9e1068; 
--magic-color-primary-9:#780650; 
--magic-color-primary-10:#520339; 

--magic-color-success-1:#f6ffed; 
--magic-color-success-2:#d9f7be; 
--magic-color-success-3:#b7eb8f; 
--magic-color-success-4:#95de64; 
--magic-color-success-5:#73d13d; 
--magic-color-success-6:#52c41a; 
--magic-color-success-7:#389e0d; 
--magic-color-success-8:#237804; 
--magic-color-success-9:#135200; 
--magic-color-success-10:#092b00; 

--magic-color-warning-1:#fffbe6; 
--magic-color-warning-2:#fff1b8; 
--magic-color-warning-3:#ffe58f; 
--magic-color-warning-4:#ffd666; 
--magic-color-warning-5:#ffc53d; 
--magic-color-warning-6:#faad14; 
--magic-color-warning-7:#d48806; 
--magic-color-warning-8:#ad6800; 
--magic-color-warning-9:#874d00; 
--magic-color-warning-10:#613400; 

--magic-color-error-1:#fff1f0; 
--magic-color-error-2:#ffccc7; 
--magic-color-error-3:#ffa39e; 
--magic-color-error-4:#ff7875; 
--magic-color-error-5:#ff4d4f; 
--magic-color-error-6:#f5222d; 
--magic-color-error-7:#cf1322; 
--magic-color-error-8:#a8071a; 
--magic-color-error-9:#820014; 
--magic-color-error-10:#5c0011; 

}